{% extends 'base.html' %}

{% block title %}{{ product.title }} | {% endblock %}

{% block content %}
    <div id="productapp">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="{% url 'frontpage' %}">Home</a></li>
                {% if product.category.parent %}
                    <li><a href="{% url 'category_detail' product.category.parent.slug %}">{{ product.category.parent.title }}</a></li>
                {% endif %}
                <li><a href="{% url 'category_detail' product.category.slug %}">{{ product.category.title }}</a></li>
                <li class="is-active"><a href="{% url 'product_detail' product.category.slug product.slug %}">{{ product.title }}</a></li>
            </ul>
        </nav>

        <div class="columns">
            <div class="column is-4">
                <figure class="image is-4by3">
                    <img :src="mainImage">
                </figure>
            </div>
        </div>

        {% if product.images.all %}
            <hr>
            <div class="columns">
                <div class="column is-2" v-for="image in images">
                    <figure class="image is-128x128">
                        <img :src="image.thumbnail" @click="changeMainImage(image.image)">
                    </figure>
                </div>
            </div>
        {% endif %}
        <hr>
        <h1 class="title">{{ product.title }}</h1>
        <h2 class="subtitle">${{ product.price }}, Stars: {% if product.get_rating == 0 %}No ratings yet{% else %}{{ product.get_rating|floatformat:1 }}{% endif %}</h2>

        {% if product.description %}
            <p>{{ product.description }}</p>
        {% endif %}

        <h2 class="subtitle">Add to cart</h2>

        {% if product.variants.all %}
            <div class="columns">
                <div class="column is-6">
                    <table class="table is-fullwidth">
                        <tbody>
                            <tr>
                                <td>
                                    <figure class="image is-48x48">
                                        {% if product.thumbnail.url %}
                                            <img src="{{ product.thumbnail.url }}">
                                        {% endif %}
                                    </figure>
                                </td>

                                <td>
                                    {{ product.title }}
                                </td>

                                <td>
                                    {% if product.in_cart %}
                                        <p>Already in cart!</p>
                                    {% else %}
                                        {% if product.num_available > 0 %}
                                            <button @click="addToCart({{ product.id }})" class="button is-success">Add to cart</button>
                                        {% else %}
                                            <p>The product is out of stock!</p>
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>

                            {% for variant in product.variants.all %}
                                <tr>
                                    <td>
                                        <figure class="image is-48x48">
                                            {% if variant.thumbnail.url %}
                                                <img src="{{ variant.thumbnail.url }}">
                                            {% endif %}
                                        </figure>
                                    </td>

                                    <td>
                                        {{ variant.title }}
                                    </td>

                                    <td>
                                        {% if variant.in_cart %}
                                            <p>Already in cart!</p>
                                        {% else %}
                                            {% if variant.num_available > 0 %}
                                                <button @click="addToCart({{ variant.id }})" class="button is-success">Add to cart</button>
                                            {% else %}
                                                <p>The product is out of stock!</p>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% else %}
            {% if product.in_cart %}
                <p>Already in cart!</p>
            {% else %}
                {% if product.num_available > 0 %}
                    <button @click="addToCart({{ product.id }})" class="button is-success">Add to cart</button>
                {% else %}
                    <p>The product is out of stock!</p>
                {% endif %}
            {% endif %}
        {% endif %}

        <article class="message is-success" v-if="showMessage">
            <div class="message-body">
                The product was added to the cart!
            </div>
        </article>

        <hr>

        <h2 class="subtitle">Related products</h2>

        {% with related_products as list_products %}
            {% include 'parts/product_list.html' %}
        {% endwith %}

        <hr>

        <h2 class="subtitle">Reviews</h2>

        <div class="reviews-wrapper">
            {% for review in product.reviews.all %}
                <div class="notification space-below">
                    <p>
                        <strong>Date: </strong>{{ review.date_added|date:"Y-m-d" }},
                        <strong>Stars: </strong>{{ review.stars }}
                    </p>

                    {{ review.content }}
                </div>
            {% empty %}
                <div class="notification space-below">
                    No reviews yet...
                </div>
            {% endfor %}
        </div>

        <div class="notification space-below">
            {% if request.user.is_authenticated %}
                <form method="post" action=".">
                    {% csrf_token %}

                    <div class="field">
                        <label>Stars</label>

                        <div clas="control">
                            <div class="select">
                                <select name="stars">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3" selected>3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <label>Content</label>

                        <div class="control">
                            <textarea class="textarea" name="content"></textarea>
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <button class="button is-success">Submit</button>
                        </div>
                    </div>
                </form>
            {% else %}
                <p>Please sign in to add review!</p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
    var productapp = new Vue({
        el: '#productapp',
        delimeters: ['[[', ']]'],
        store: store,
        data () {
            return {
                showMessage: false,
                mainImage: '{{ product.image.url }}',
                images: [{{ imagesstring|safe }}]
            }
        },
        mounted() {
            console.log('Mounted');
        },
        methods: {
            changeMainImage(image) {
                this.mainImage = image;
            },
            addToCart(product_id) {
                console.log('Product_id:', product_id);

                var data = {
                    'product_id': product_id, 
                    'update': false,
                    'quantity': 1
                };
                    
                fetch('/api/add_to_cart/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    credentials: 'same-origin',
                    body: JSON.stringify(data)
                })
                .then((response) => {
                    console.log(response)

                    this.showMessage = true

                    store.commit('increment', 1);

                    setTimeout(() => {
                        this.showMessage = false
                    }, 2000)
                })
                .catch(function (error) {
                    console.log('Error 2');
                    console.log(error);
                })
            }
        }
    });
</script>
{% endblock %}