<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Saul Gadgets</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
	</head>

	<body>
		<nav class="navbar is-dark">
			<div class="navbar-brand">
				<a class="navbar-item" href="{% url 'frontpage' %}">Saul Gadgets</a>

				<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="main-navbar">
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
				</a>
			</div>

			<div id="main-navbar" class="navbar-menu">
				<div class="navbar-end">
					<a href="{% url 'contact' %}" class="navbar-item">Contact</a>
				</div>
			</div>
		</nav>

		<section class="section">
			{% block content %}
            {% endblock %}
		</section>
	</body>
</html>