{% extends 'base.html' %}

{% block content %}
<div class="columns">
    <div class="column is-6 is-offset-3">
        <h1 class="title">Sign up</h1>

        <form method="post" action=".">
            {% csrf_token %}
    
            {{ form.as_p }}

            {{ userprofileform.as_p }}
    
            <div class="field">
                <div class="control">
                    <button class="button is-success">Sign up</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}