{% extends 'base.html' %}

{% block title %}Cart | {% endblock %}

{% block content %}
    <div id="cartapp">
        <h1 class="title">Cart</h1>

        {% if cart %}
            <div class="table">
                <table class="table">
                    <thead>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th></th>
                    </thead>

                    <tbody>
                        <tr v-for="product in products">
                            <td>[[ product.title ]]</td>
                            <td>[[ product.quantity ]] <button @click="incrementQuantity(product.id, product.quantity)">+</button></td>
                            <td>[[ product.total_price ]]</td>
                            <td><button @click="removeFromCart(product.id)">Remove from cart</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        {% else %}
            <p>Your cart is empty!</p>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
<script>
    var productapp = new Vue({
        el: '#cartapp',
        delimiters: ['[[', ']]'],
        store: store,
        data () {
            return {
                products: [{{ productsstring|safe }}]
            }
        },
        methods: {
            incrementQuantity(product_id, quantity) {
                console.log('Product_id:', product_id);

                var data = {
                    'product_id': product_id, 
                    'update': true,
                    'quantity': parseInt(quantity) + 1
                };

                store.commit('increment', 1);
                    
                fetch('/api/add_to_cart/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    credentials: 'same-origin',
                    body: JSON.stringify(data)
                })
                .then((response) => {
                    console.log(response)

                    for (var i = 0; i < this.products.length; i++) {
                        var product = this.products[i];
   
                        if (product.id === product_id) {
                            this.products[i].quantity = parseInt(this.products[i].quantity) + 1;
                            this.products[i].total_price = parseInt(this.products[i].quantity) * parseFloat(this.products[i].price)
                        }
                    }
                })
                .catch(function (error) {
                    console.log('Error 2');
                    console.log(error);
                })
            },
            removeFromCart(product_id) {
                console.log('Product_id:', product_id);

                var data = {
                    'product_id': product_id
                };
                    
                fetch('/api/remove_from_cart/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    credentials: 'same-origin',
                    body: JSON.stringify(data)
                })
                .then((response) => {
                    console.log(response)

                    this.products = this.products.filter(product => product.id !== product_id)
                })
                .catch(function (error) {
                    console.log('Error 2');
                    console.log(error);
                })
            }
        }
    });
</script>
{% endblock %}